<?xml version="1.0"?>
<!--
/**
 * @author Kim Phung - BURO210
 * @copyright Copyright © 2023 BURO210. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="add_parent_body_class" instance="Juno\Theme\Observer\AddParentBodyClass"/>
    </event> 
</config>